<div class="app-card">
    {% if dataTable.showHeader == true %}
        <div class="app-card__header">
            {% if dataTable.title %}
                <h2 class="app-card__title">{{ dataTable.title }}</h2>
            {% endif %}
            {% if dataTable.showSearch == true %}
            <div class="app-card__actions">
                {% set search = {
                    'helper': dataTable.searchHelper
                } %}
                {% include "partial/search-form.html" %}
                <div class="data-table-filter" x-data="{ open: false }" @click.outside="open = false">
                    <button class="btn btn--light btn--icon btn--counter data-table-filter__toggle" :aria-expanded="open" @click="open = ! open" aria-label="Filters">
                        {% svgIcon './src/img/icon/filter.svg', 'btn__icon' %}
                        <span class="btn__counter">2</span>
                    </button>
                    <div class="context-menu context-menu--inline-end" :data-state="open ? 'open' : 'closed'">
                        <div class="form-group-stack form-group-stack--bordered form-group-container">
                            <div class="form-group">
                                <label class="form-label" for="product-status">Status</label>
                                <select class="form-control" id="product-status">
                                    <option value="in-stock">In stock</option>
                                    <option value="can-be-ordered">Can be ordered</option>
                                    <option value="not-available">Not available</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-switch form-switch--sm">
                                    <input class="form-switch__control" type="checkbox" value="true" checked/>
                                    <span class="form-label form-switch__label">Visible</span>
                                </label>
                            </div>
                            <div class="data-table-filter__actions">
                                <button class="btn btn--primary btn--sm">Filter</button>
                                <button class="btn btn--light btn--sm">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="app-card__body">
        <div
            class="data-table"
            x-data="dataTable()"
            x-cloak
        >
            <div
                class="alert alert--info data-table-alert"
                x-show="selectedItems.length"
            >
                <span x-text="`${selectedItems.length} items are selected`"></span>
                <div class="data-table-alert__actions">
                    <div class="data-table-alert__column">
                        <button
                            @click="selectAllCheckbox($event);"
                            class="btn btn--primary btn--sm"
                            x-text="`Select all ${items.length}`"
                        ></button>
                        <button
                            @click="deselectAllCheckbox($event);"
                            class="btn btn--primary btn--sm"
                        >
                            Deselect all
                        </button>
                    </div>
                    <div class="data-table-alert__column">
                        <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                            <option value="bulk-edit">Bulk edit</option>
                            <option value="send-notification">Send notification</option>
                            <option value="publish">Publish</option>
                            <option value="delete">Delete</option>
                        </select>
                        <button class="btn btn--primary btn--sm">Run</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table--hover">
                    <thead>
                        <tr>
                            <th style="inline-size: 3.25rem;">
                                <span class="sr-only">Select</span>
                                <label
                                    @click="toggleAllCheckbox($event);"
                                    aria-label="Select all item"
                                    class="form-check"
                                >
                                    <input
                                        class="form-check__control"
                                        type="checkbox"
                                        value="1"
                                        name="select-all"
                                        x-model="selectAll"
                                     />
                                </label>
                            </th>
                            <th>Image</th>
                            <th>
                                <button
                                    @click="sort('name')"
                                    class="sort-btn"
                                    type="button"
                                >
                                    Name
                                    <span class="sr-only">Sort</span>
                                    {% svgIcon "./src/img/icon/chevron-up-down.svg", "sort-btn__icon" %}
                                </button>
                            </th>
                            <th>
                                <button
                                    @click="sort('price')"
                                    class="sort-btn"
                                    type="button"
                                >
                                    Price
                                    <span class="sr-only">Sort</span>
                                    {% svgIcon "./src/img/icon/chevron-up-down.svg", "sort-btn__icon" %}
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-if="!items">
                          <tr><td colspan="4"><i>Loading...</i></td></tr>
                        </template>
                        <template x-for="(item, index) in pagedItems" :key="item.id">
                            <tr>
                                <td>
                                    <label class="form-check" :aria-label=`Select ${item.name}`>
                                        <input
                                            :name="item.id"
                                            class="form-check__control"
                                            type="checkbox"
                                            value="1"
                                            x-model="item.selected"
                                        />
                                    </label>
                                </td>
                                <td>
                                    <img class="data-table__image" :src="`${item.image}?random=${item.id}`" alt="{{ item.name }}">
                                </td>
                                <td x-text="item.name"></td>
                                <td x-text="`$ ${item.price}`"></td>
                                <td x-text="item.sku"></td>
                                <td x-text="item.qty"></td>
                                <td x-text="item.status"></td>
                                <td>
                                    <div class="data-table__actions">
                                        <a href="/product/edit/" class="btn btn--light btn--sm btn--icon" aria-label="Edit">
                                            {% svgIcon './src/img/icon/edit.svg', 'btn__icon' %}
                                        </a>
                                        <a href="#" class="btn btn--delete btn--sm btn--icon" aria-label="Delete">
                                            {% svgIcon './src/img/icon/trash.svg', 'btn__icon' %}
                                        </a>
                                    </div>
                                </td>
                              </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            {% if dataTable.showFooter == true %}
                <div class="data-table__footer">
                    <div class="data-table__footer-column">
                        <div class="form-group">
                            <label class="sr-only" for="number-of-results">Number of results</label>
                            <select class="form-control form-control--sm" id="number-of-results">
                                <option value="10">10</option>
                                <option value="20" selected>20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <p x-text="resultsCount"></p>
                    </div>
                    <button @click="previousPage">Previous</button> <button @click="nextPage">Next</button>
                    {% include "partial/pagination.html" %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
