<div class="app-card">
    {% if dataTable.showHeader == true %}
        <div class="app-card__header">
            {% if dataTable.title %}
                <h2 class="app-card__title">{{ dataTable.title }}</h2>
            {% endif %}
            {% if dataTable.showSearch == true %}
            <div class="app-card__actions">
                {% set search = {
                    'class': dataTable.searchClass,
                    'controlClass': dataTable.searchControlClass
                } %}
                {% include "partial/search.html" %}
                <div class="data-table-filter" x-data="{ open: false }" @click.outside="open = false">
                    <button class="btn btn--light btn--icon data-table-filter__toggle" :aria-expanded="open" @click="open = ! open">
                        {% svgIcon './src/img/icon/filter.svg', 'btn__icon' %}
                    </button>
                    <div class="context-menu context-menu--inline-end" :data-state="open ? 'open' : 'closed'">
                        <div class="form-group-stack form-group-stack--bordered form-group-container">
                            <div class="form-group">
                                <label class="form-label" for="product-status">Status</label>
                                <select class="form-control" id="product-status">
                                    <option value="in-stock">In stock</option>
                                    <option value="can-be-ordered">Can be ordered</option>
                                    <option value="not-available">Not available</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-switch form-switch--sm">
                                    <input class="form-switch__control" type="checkbox" value="true" checked/>
                                    <span class="form-label form-switch__label">Visible</span>
                                </label>
                            </div>
                            <div class="data-table-filter__actions">
                                <button class="btn btn--primary btn--sm">Fitler</button>
                                <button class="btn btn--light btn--sm">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="app-card__body">
        <div class="data-table">
            <div class="alert alert--info data-table-alert">
                20 items selected.
                <div class="data-table-alert__actions">
                    <button class="btn btn--primary btn--sm">Select all 100</button>
                    <button class="btn btn--primary btn--sm">Deselect all</button>
                    <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                        <option value="bulk-edit">Bulk edit</option>
                        <option value="send-notification">Send notification</option>
                        <option value="publish">Publish</option>
                        <option value="delete">Delete</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table--hover">
                    <thead>
                        <tr>
                            <th style="width: 3.25rem;">
                                <span class="sr-only">Select</span>
                                <label class="form-check" aria-label="Select all item">
                                    <input class="form-check__control" type="checkbox" value="1" name="select-all" />
                                </label>
                            </th>
                            {% for heading in dataTable.headings %}
                                {% if heading == "Actions" %}
                                    <th scope="col">
                                        <span class="sr-only">{{ heading }}</span>
                                    </th>
                                {% else %}
                                    <th scope="col">
                                        {% if (heading == "First Name") or (heading == "Last Name") or (heading == "Price") or (heading == "Qty") or (heading == "Status") %}
                                            <div class="data-table-sort">
                                                {{ heading }}
                                                <button class="data-table-sort__control" type="button" aria-label="Sort ascending">
                                                    {% svgIcon "./src/img/icon/chevron-up-down.svg", "data-table-sort__icon" %}
                                                </button>
                                            </div>
                                        {% else %}
                                            {{ heading }}
                                        {% endif %}
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataTable.data %}
                            <tr>
                                <td>
                                    <label class="form-check" aria-label="Select {{ data.name }}">
                                        <input class="form-check__control" type="checkbox" value="1" name="{{ data.id }}" />
                                    </label>
                                </td>
                                {% for heading in dataTable.headings %}
                                    {% if heading == 'Actions' %}
                                    <td>
                                        <div class="data-table__actions">
                                            <a href="#" class="btn btn--light btn--sm btn--icon" aria-label="View">
                                                {% svgIcon './src/img/icon/eye.svg', 'btn__icon' %}
                                            </a>
                                            <a href="/product/edit/" class="btn btn--light btn--sm btn--icon" aria-label="Edit">
                                                {% svgIcon './src/img/icon/edit.svg', 'btn__icon' %}
                                            </a>
                                            <a href="#" class="btn btn--delete btn--sm btn--icon" aria-label="Delete">
                                                {% svgIcon './src/img/icon/trash.svg', 'btn__icon' %}
                                            </a>
                                        </div>
                                    </td>
                                    {% elseif heading == 'Image' %}
                                        <td>
                                            <img class="data-table__image" src="{{ data.image }}?random={{ data.id }}" alt="{{ data.name }}">
                                        </td>
                                    {% elseif heading == 'Status' %}
                                        <td>
                                            {% set value = heading.toLowerCase().split(' ').join('_') %}
                                            {% set status = data[value].toLowerCase().split(' ').join('-') %}

                                            {% if status == 'out-of-stock' %}
                                                <span class="status status--danger">{{ data[value] }}</span>
                                            {% elseif status == 'in-stock' %}
                                                <span class="status status--success">{{ data[value] }}</span>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td>
                                            {% if (heading == 'Price') or (heading == 'Order Total') %}$ {% endif %}
                                            {{ data[heading.toLowerCase().split(' ').join('_')] }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if dataTable.showFooter == true %}
                <div class="data-table__footer">
                    <div class="data-table__footer-column">
                        <div class="form-group">
                            <label class="sr-only" for="number-of-results">Number of results</label>
                            <select class="form-control form-control--sm" id="number-of-results">
                                <option value="10">10</option>
                                <option value="20" selected>20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <p>Showing 1 to 20 of 100 results</p>
                    </div>
                    {% include "partial/pagination.html" %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
