<div class="app-card">
    <div class="app-card__header">
        <h2 class="app-card__title">Orders</h2>
        <div class="form-group">
            <label class="form-label sr-only" for="interval">Interval</label>
            <select class="form-control form-control--sm" id="interval">
                <option value="this-week">This Week</option>
                <option value="last-week">Last Week</option>
                <option value="last-month">Last Month</option>
            </select>
        </div>
    </div>
    <div class="app-card__body">
        <div id="area01"></div>
    </div>
</div>
