@use 'sprucecss/scss/spruce' as *;

.app-heading {
  padding-block: spacer-clamp('m', 'l');

  &__inner {
    display: flex;
    flex-direction: column;
    gap: spacer('s');
  }

  &__title {
    margin-block: 0;
  }

  &__meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: spacer('xs') spacer('m');

    > * {
      margin-block: 0;
    }
  }
}
