@use 'sprucecss/scss/spruce' as *;

.intro {
  padding-block: get-css-variable(--section-gap);

  &__inner {
    @include layout-stack('l');
  }

  &__caption {
    @include layout-stack;
    font-size: config('font-size-lead', $typography);
  }

  &__title {
    font-size: responsive-font-size(3.5rem, 30, '3vw + 1rem');
  }
}
