@use 'sprucecss/scss/spruce' as *;

.app-sidebar {
  block-size: 100%;
  border-inline-end: 1px solid color('border');
  display: flex;
  flex-direction: column;
  gap: spacer('m');
  padding-block: 0 spacer('m');
  padding-inline: spacer('m');

  &__logo {
    block-size: 1.25rem;
    display: inline-flex;
  }

  &__header {
    align-items: center;
    display: flex;
    block-size: get-css-variable(--app-header-block-size);
  }

  &__footer {
    align-items: center;
    border-block-start: 1px solid color('border');
    display: flex;
    justify-content: space-between;
  }

  &__body {
    @include scrollbar(
      $border-radius: 0.05rem
    );
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: spacer('m');
    max-block-size: calc(100vh - var(--dimension) - #{spacer('m')} * 3);
    overflow-y: auto;

    @include breakpoint('sm') {
      max-block-size: initial;
    }
  }
}
