<div class="combobox">
    <div class="combobox__selected-items">
        <div class="combobox-item">
            <span class="combobox-item__label">Light pink</span>
            <button class="btn btn--delete btn--icon btn--sm combobox-item__remove">
                {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
            </button>
        </div>
        <div class="combobox-item">
            <span class="combobox-item__label">White</span>
            <button class="btn btn--delete btn--icon btn--sm combobox-item__remove">
                {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
            </button>
        </div>
        <div class="combobox-item">
            <span class="combobox-item__label">Light blue</span>
            <button class="btn btn--delete btn--icon btn--sm combobox-item__remove">
                {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
            </button>
        </div>
    </div>
    <div class="combobox__dropdown">
        <input type="text" class="form-control">
        <ul
            tabindex="0"
            role="listbox"
            aria-labelledby="colorOptions"
            aria-multiselectable="true"
        >
            <li id="red" role="option" aria-selected="false">Red</li>
            <li id="orange" role="option" aria-selected="false">Orange</li>
            <li id="yellow" role="option" aria-selected="false">Yellow</li>
            <li id="green" role="option" aria-selected="false">Green</li>
            <li id="blue" role="option" aria-selected="false">Blue</li>
            <li id="purple" role="option" aria-selected="false">Purple</li>
            <li id="magenta" role="option" aria-selected="false">Hot pink</li>
            <li id="lightpink" role="option" aria-selected="true">Light pink</li>
            <li id="white" role="option" aria-selected="true">White</li>
            <li id="lightblue" role="option" aria-selected="true">Light blue</li>
            <li id="black" role="option" aria-selected="false">Black</li>
            <li id="brown" role="option" aria-selected="false">Brown</li>
        </ul>
    </div>
</div>
