<div class="form-group--row">
    <label class="form-label" for="colors">Choose colors</label>
    <div
        class="combobox"
        x-data="data()"
        x-id="['dropdown', 'list-item']"
        x-on:click.outside="close($refs.input)"
        x-on:keydown.escape.prevent.stop="close($refs.input)"
    >
        <div
            class="combobox__selected-items"
            x-show="selectedItems().length > 0"
        >
            <template x-for="(item, index) in selectedItems" :key="item.id">
                <span
                    class="combobox-item"
                    x-show="item.selected"
                >
                    <span x-text="item.label"></span>
                    <button
                        class="btn btn--primary btn--sm btn--icon"
                        x-on:click="unselectItemById(item.id)"
                    >
                        {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                    </button>
                </span>
            </template>
        </div>
        <div class="combobox__inner">
            <input
                :aria-activedescendant="highlightedItemId()"
                :aria-controls="$id('dropdown')"
                :aria-expanded="open"
                aria-autocomplete="list"
                class="form-control combobox__control"
                id="colors"
                placeholder="Search for a color"
                role="combobox"
                type="text"
                x-model="search"
                x-on:click="toggle()"
                x-on:keyup.down="highlightNextItem"
                x-on:keyup.enter="toggleFromKeyboard"
                x-on:keyup.up="highlightPreviousItem"
                x-ref="input"
            >
            <ul
                :id="$id('dropdown')"
                aria-label="Colors"
                aria-multiselectable="true"
                role="listbox"
                tabindex="-1"
                x-ref="panel"
                x-show="open || search.length > 0"
            >
                <template x-for="(item, index) in filteredItems" :key="item.id">
                    <li
                        :aria-selected="item.selected"
                        :class="{'highlighted': index === highlightedItemIndex}"
                        :id="$id('list-item', item.id)"
                        role="option"
                        x-on:click="item.selected = ! item.selected"
                    >
                        <span x-text="item.label"></span>
                        <span x-show="item.selected">
                            {% svgIcon './src/img/icon/check.svg' %}
                        </span>
                    </li>
                </template>
                <li x-show="search !== '' && filteredItems().length === 0">
                    No results found.
                </li>
            </ul>
        </div>
        <button
            class="btn btn--outline-primary btn--sm combobox__reset"
            x-show="selectedItems().length > 0"
            x-on:click="deselectAllItems"
        >
            Deselect all item
        </button>
    </div>
</div>

<script>
    function data() {
        return {
            items: [
                {
                    "id": "red",
                    "label": "Red",
                    "selected": false
                },
                {
                    "id": "orange",
                    "label": "Orange",
                    "selected": false
                },
                {
                    "id": "yellow",
                    "label": "Yellow",
                    "selected": false
                },
                {
                    "id": "green",
                    "label": "Green",
                    "selected": false
                },
                {
                    "id": "blue",
                    "label": "Blue",
                    "selected": false
                },
                {
                    "id": "purple",
                    "label": "Purple",
                    "selected": false
                },
                {
                    "id": "hot-pink",
                    "label": "Hot pink",
                    "selected": false
                },
                {
                    "id": "light-pink",
                    "label": "Light pink",
                    "selected": false
                },
                {
                    "id": "white",
                    "label": "White",
                    "selected": false
                },
                {
                    "id": "black",
                    "label": "Black",
                    "selected": false
                },
                {
                    "id": "brown",
                    "label": "Brown",
                    "selected": false
                }
            ],
            selectedItems() {
                return this.items.filter(item => item.selected)
            },
            unselectItemById(id) {
                this.items.find(item => item.id === id).selected = false
            },
            filteredItems() {
                return this.items.filter(item => {
                    return item.label.toLowerCase().includes(this.search.toLowerCase())
                })
            },
            open: false,
            search: '',
            highlightedItemIndex: null,
            toggle() {
                if (this.open) {
                    return this.close()
                }

                this.$refs.input.focus()
                this.open = true
                this.highlightedItemIndex = null
            },
            close(focusAfter) {
                if (! this.open) return

                this.open = false
                this.search = ''
                this.highlightedItemIndex = null

                focusAfter && focusAfter.focus()
            },
            highlightNextItem() {
                this.open = true

                if (this.highlightedItemIndex === null) {
                    this.highlightedItemIndex = 0
                    return
                }

                this.highlightedItemIndex++;

                if (this.highlightedItemIndex >= this.filteredItems().length) {
                    this.highlightedItemIndex = 0
                }

                this.$refs.panel.children[this.highlightedItemIndex + 1].focus()

                this.$refs.panel.children[this.highlightedItemIndex + 1].scrollIntoView({
                    behavior: 'smooth',
                    block: 'nearest'
                })
            },
            highlightPreviousItem() {
                this.open = true
                this.highlightedItemIndex--;

                if (this.highlightedItemIndex < 0) {
                    this.highlightedItemIndex = this.filteredItems().length - 1
                }

                this.$refs.panel.children[this.highlightedItemIndex + 1].scrollIntoView({
                    behavior: 'smooth',
                    block: 'nearest'
                })
            },
            highlightedItemId() {
                const highlightedItem = this.filteredItems()[this.highlightedItemIndex]
                return highlightedItem ? this.$id('list-item', highlightedItem.id) : null
            },
            toggleFromKeyboard() {
                if (this.highlightedItemIndex === null) {
                    return
                }

                this.filteredItems()[this.highlightedItemIndex].selected = ! this.filteredItems()[this.highlightedItemIndex].selected
            },
            deselectAllItems() {
                this.items.forEach(item => item.selected = false)
            }
        }
    }
</script>
