<span class="form-label">Gallery</span>
<div
    class="file-list"
    x-data="{
        open: false,
        items: [
            {
                'id': 0,
                'type': 'uploading',
                'name': 'Uploading...',
                'selected': false
            },
            {
                'id': 1,
                'type': 'processing',
                'name': 'Processing...',
                'selected': false
            },
            {
                'id': 2,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'mountain_peak.jpg',
                'selected': false
            },
            {
                'id': 3,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/600',
                'name': 'beach_vacation.jpg',
                'selected': false
            },
            {
                'id': 4,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'sunset_landscape.jpg',
                'selected': false
            },
            {
                'id': 5,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'forest_trail.jpg',
                'selected': false
            },
            {
                'id': 6,
                'type': 'document',
                'name': 'my-cv-20asdfasdfasdfasdfasfdasdf23.jpg',
                'selected': false
            },
            {
                'id': 7,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/600/400',
                'name': 'cute_puppies.jpg',
                'selected': false
            },
            {
                'id': 8,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'abstract_artwork.jpg',
                'selected': false
            },
            {
                'id': 9,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'vintage_car.jpg',
                'selected': false
            },
            {
                'id': 10,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'delicious_pizza.jpg',
                'selected': false
            },
            {
                'id': 11,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'space_nebula.jpg',
                'selected': false
            },
            {
                'id': 12,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'underwater_world.jpg',
                'selected': false
            },
            {
                'id': 13,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'cozy_cabin.jpg',
                'selected': false
            },
            {
                'id': 14,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'artistic_flowers.jpg',
                'selected': false
            },
            {
                'id': 15,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'urban_graffiti.jpg',
                'selected': false
            },
            {
                'id': 16,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'adorable_kittens.jpg',
                'selected': false
            },
            {
                'id': 17,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'serene_lake.jpg',
                'selected': false
            },
            {
                'id': 18,
                'type': 'image',
                'thumbnail': 'https://picsum.photos/400/400',
                'name': 'futuristic_cityscape.jpg',
                'selected': false
            }
        ],
        close() {
            this.open = false;
            $refs.open.focus();
        }
    }"
>
    <button
        x-ref="open"
        class="btn btn--primary btn--lg btn--block"
        @click="open = true"
    >
        Choose file(s)
    </button>
    <ul class="file-list__items">
        <li class="file-list-item">
            <div class="file-list-item__column">
                <img class="file-list-item__thumbnail" src="https://picsum.photos/80/80" alt="">
                <span id="list-item-1" class="file-list-item__name">pic1234.jpg</span>
            </div>
            <div class="file-list-item__actions">
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-1" aria-label="Move one up" disabled>
                    {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-1" aria-label="Move one down">
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--delete btn--sm btn--icon" aria-describedby="list-item-1" aria-label="Remove">
                    {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                </button>
            </div>
        </li>
        <li class="file-list-item">
            <div class="file-list-item__column">
                <span class="file-list-item__icon">
                    {% svgIcon './src/img/icon/file-text.svg' %}
                </span>
                <span id="list-item-2" class="file-list-item__name">document5678.pdf</span>
            </div>
            <div class="file-list-item__actions">
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-2" aria-label="Move one up">
                    {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-2" aria-label="Move one down">
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--delete btn--sm btn--icon" aria-describedby="list-item-2" aria-label="Remove">
                    {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                </button>
            </div>
        </li>
        <li class="file-list-item">
            <div class="file-list-item__column">
                <img class="file-list-item__thumbnail" src="https://picsum.photos/81/81" alt="">
                <span id="list-item-2" class="file-list-item__name">image5678.png</span>
            </div>
            <div class="file-list-item__actions">
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-2" aria-label="Move one up">
                    {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-2" aria-label="Move one down">
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--delete btn--sm btn--icon" aria-describedby="list-item-2" aria-label="Remove">
                    {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                </button>
            </div>
        </li>
        <li class="file-list-item">
            <div class="file-list-item__column">
                <img class="file-list-item__thumbnail" src="https://picsum.photos/82/82" alt="">
                <span id="list-item-3" class="file-list-item__name">photo91011.gif</span>
            </div>
            <div class="file-list-item__actions">
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-3" aria-label="Move one up">
                    {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--light btn--sm btn--icon" aria-describedby="list-item-3" aria-label="Move one down" disabled>
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
                <button class="btn btn--delete btn--sm btn--icon" aria-describedby="list-item-3" aria-label="Remove">
                    {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                </button>
            </div>
        </li>
    </ul>
    {% include "partial/media-uploader.html" %}
</div>
