<label class="form-label" for="product-image">Image</label>
<div class="file-group-container">
    <div class="file-group">
        <div class="file-group__preview">
            {% svgIcon './src/img/icon/image.svg', 'file-group__icon' %}
        </div>
        <div class="file-group__body">
            <p class="file-group__title">Upload a product image</p>
            <ul class="file-group__meta">
                <li>Accepted formats: JPG, PNG</li>
                <li>Maximum upload limit: 5 MB</li>
            </ul>
            <div class="file-group__action">
                <button class="btn btn--delete btn--icon file-group__remove">
                    {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                </button>
                <input class="form-file file-group__input" type="file" id="product-image" accept="image/png, image/jpeg"/>
            </div>
        </div>
    </div>
</div>
