<h2>Write to Us</h2>

<form
    class="wpcf7-form generic-form init"
    action="#"
    method="post"
    novalidate="novalidate"
    data-status="init"
>
    <div class="form-group-wrapper">
        <div class="form-group">
            <label class="form-label" for="your-name">Name (required)</label>
            <input
                class="form-control"
                id="your-name"
                type="text"
                name="your-name"
            />
        </div>
        <div class="form-group">
            <label class="form-label" for="your-email">Email (required)</label>
            <input
                class="form-control"
                id="your-email"
                type="email"
                name="your-email"
            />
        </div>
        <div class="form-group">
            <label class="form-label" for="your-subject">Subject (required)</label>
            <input
                class="form-control"
                id="your-subject"
                type="text"
                name="your-subject"
            />
        </div>
        <div class="form-group">
            <label class="form-label" for="your-message">Message (required)</label>
            <textarea
                class="form-control"
                id="your-message"
                name="your-message"
                cols="40"
                rows="10"
            ></textarea>
        </div>
        <div class="form-group">
            <p class="m-block:0">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
        </div>
        <div class="form-group">
            <label class="form-check">
                <input class="form-check__control" type="checkbox" value="true" name="privacy-policy"/>
                <span class="form-label form-check__label"><a href="#">I have read and agree to the Privacy Policy</a>.</span>
            </label>
        </div>
        <div class="form-group--submit">
            <button class="btn btn--primary">Send</button>
        </div>
    </div>
</form>
