<header class="app-header">
    <div class="app-header__inner">
        <div class="app-header__column">
            <button class="btn btn--outline-dark btn--sm btn--icon">
                {% svgIcon './src/img/icon/menu-close.svg', 'btn__icon' %}
            </button>
            {% include "partial/theme-switcher.html" %}
            {% include "partial/breadcrumb-list.html" %}
        </div>
        <div class="app-header__actions">
            {% include "partial/user-menu.html" %}
        </div>
    </div>
</header>
