<div class="app-heading">
    <div class="container">
        <div class="app-heading__inner">
            <div class="app-heading__caption">
                <h1 class="app-heading__title">{{ headingTitle }}</h1>
                {% if headingDescription %}
                    <div class="app-heading__description">
                        <p>{{ headingDescription }}</p>
                    </div>
                {% endif %}
            </div>
            {% if headingActions %}
                <div class="app-heading__actions">
                    {% for action in headingActions %}
                        <a href="{{ action.link }}" class="{{ action.class }}">
                            {% svgIcon action.icon, 'btn__icon' %}
                            {{ action.label }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
