<template x-teleport="body">
    <div
        class="modal-backdrop"
        x-show="open"
        @keydown.escape="close"
    >
        <div
            @click.away="close"
            aria-modal="true"
            class="modal modal--media"
            data-dropzone="Drag & drop your images and files here"
            role="dialog"
            tabindex="0"
            x-trap.noscroll="open"
        >
            <div class="modal__header">
                <div class="modal__header-caption">
                    <h2 class="modal__title">Media</h2>
                </div>
                <div class="modal__filter">
                    <select class="form-control">
                        <option value="all">All media items</option>
                        <option value="images">Images</option>
                        <option value="video">Video</option>
                        <option value="audio">Audio</option>
                        <option value="documents">Documents</option>
                    </select>
                    <select class="form-control">
                        <option value="all">All dates</option>
                        <option value="july-2023">July 2023</option>
                        <option value="juni-2023">Juni 2023</option>
                        <option value="may-2023">May 2023</option>
                    </select>
                    {% include "partial/search.html" %}
                </div>
                <button
                    class="btn btn--icon btn--light modal__close"
                    aria-label="Close modal"
                    @click="close"
                >
                    {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                </button>
            </div>
            <div class="modal__body">
                <ol
                    class="media-list"
                    tabindex="-1"
                >
                    <template x-for="(item, index) in items" :key="item.id">
                        <li
                            :aria-checked="item.selected"
                            class="media-item"
                            role="checkbox"
                            tabindex="0"
                            @keydown.enter.prevent="item.selected = ! item.selected"
                            @keydown.space.prevent="item.selected = ! item.selected"
                            @click.prevent="item.selected = ! item.selected"
                        >
                            <span x-show="item.selected" class="media-item__selected">
                                {% svgIcon './src/img/icon/check.svg' %}
                            </span>
                            <template x-if="item.type === 'image'">
                                {{ item.thumbnail }}
                                <img :src=`${item.thumbnail}?random=${index}` :alt="item.name" />
                            </template>
                            <template x-if="item.type === 'document'">
                                <span class="media-item__document">
                                    {% svgIcon './src/img/icon/archive.svg', 'media-item__icon' %}
                                    <span x-text="item.name" class="media-item__name"></span>
                                </span>
                            </template>
                        </li>
                    </template>
                </ol>
            </div>
            <div class="modal__footer modal__footer--space-between">
                <input class="form-file" type="file" id="avatar" accept="image/png, image/jpeg"/>
                <div class="modal__column">
                    <button class="btn btn--outline-primary" @click="close">Cancel</button>
                    <button class="btn btn--primary">Insert</button>
                </div>
            </div>
        </div>
    </div>
</template>
