<div class="app-notification" x-data="{ open: false }" @click.outside="open = false">
    <button class="btn btn--light btn--icon btn--counter app-notification__toggle" :aria-expanded="open" @click="open = ! open" aria-label="Notifications">
        {% svgIcon './src/img/icon/bell.svg', 'btn__icon' %}
        <span class="btn__counter">2</span>
    </button>
    <div class="context-menu" :data-state="open ? 'open' : 'closed'">
        <div class="app-notification__header">
            <h2 class="app-notification__title">Notifications</h2>
            <button
                class="btn btn--sm btn--icon btn--light"
                aria-label="Close modal"
                @click="open = false"
            >
                {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
            </button>
        </div>
        <div class="app-notification__list">
            {% for notification in notifications %}
                <div class="notification-card notification-card--{{ notification.status }}">
                    <div class="notification-card__icon notification-card__icon--{{ notification.type }}">
                        {% svgIcon notification.icon %}
                    </div>
                    <div class="notification-card__caption">
                        <h3 class="notification-card__title">
                            <a href="#" class="notification-card__link">
                                {{ notification.title }}
                            </a>
                        </h3>
                        <p>{{ notification.timestamp | date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="#" class="btn btn--primary btn--block">View all notifications</a>
    </div>
</div>
