<div class="app-notification" x-data="{ open: false }" @click.outside="open = false">
    <button
        :aria-expanded="open"
        @click="open = ! open;"
        aria-label="Notifications"
        class="btn btn--light btn--icon btn--counter app-notification__toggle"
    >
        {% svgIcon './src/img/icon/bell.svg', 'btn__icon' %}
        <span class="btn__counter">4</span>
    </button>
    <div
        :data-state="open ? 'open' : 'closed'"
        class="app-notification__drawer"
        x-transition
    >
        <div class="app-notification__header">
            <h2 class="app-notification__title">Notifications</h2>
            <button
                class="btn btn--sm btn--icon btn--light"
                aria-label="Close modal"
                @click="open = false"
            >
                {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
            </button>
        </div>
        <div class="app-notification__list">
            {% for notification in notifications %}
                <div
                    :class="open ? 'notification-card--open' : ''"
                    class="notification-card notification-card--{{ notification.status }}"
                    x-data="{ open: false }"
                >
                    <div class="notification-card__header">
                        <div class="notification-card__icon notification-card__icon--{{ notification.type }}">
                            {% svgIcon notification.icon %}
                        </div>
                        <div class="notification-card__caption">
                            <h3 id="notification-{{ loop.index }}" class="notification-card__title">
                                {{ notification.title }}
                            </h3>
                            <p>{{ notification.timestamp | date }}</p>
                        </div>
                        {% if notification.body %}
                            <button
                                @click="open = ! open"
                                aria-label="Toggle notification"
                                aria-describedby="notification-{{ loop.index }}"
                                class="btn btn--primary btn--sm btn--icon notification-card__control"
                            >
                                {% svgIcon './src/img/icon/plus.svg', 'btn__icon' %}
                            </button>
                        {% endif %}
                    </div>
                    {% if notification.body %}
                        <div class="notification-card__body" :aria-hidden="open ? 'false' : 'true'">
                            <div>
                                {{ notification.body | safe }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <a href="#" class="btn btn--primary btn--block">View all notifications</a>
    </div>
</div>
