<nav class="pagination" aria-label="Posts">
    <h2 class="sr-only">Post Navigation</h2>
    <ul class="pagination__links">
        <li>
            <span
                class="btn btn--sm btn--primary-outline pagination__page-number pagination__page-number--current"
                aria-current="page"
                >1</span
            >
        </li>
        <li>
            <a class="btn btn--sm btn--primary-outline pagination__page-number" href="/page/2/">2</a>
        </li>
        <li>
            <a class="btn btn--sm btn--primary-outline pagination__page-number" href="/page/3/">3</a>
        </li>
        <li>
            <a class="btn btn--sm btn--primary-outline pagination__page-number" href="/page/4/">4</a>
        </li>
        <li>
            <span
                class="pagination__page-number pagination__page-number--disabled"
                >...</span
            >
        </li>
        <li>
            <a class="btn btn--sm btn--primary-outline pagination__page-number" href="/page/10/">10</a>
        </li>
        <li>
            <a class="btn btn--sm btn--primary-outline pagination__page-number" href="/page/2/">Next</a>
        </li>
    </ul>
</nav>
