<aside class="app-sidebar">
    <div class="app-sidebar__header">
        <a class="app-sidebar__logo" href="/">
            <img
                src="/img/root-logo-dark.svg"
                alt="Root"
                data-theme-mode="data-theme-mode"
                data-light-asset="/img/root-logo-dark.svg"
                data-dark-asset="/img/root-logo-light.svg"
            />
        </a>
        {% include "partial/search-toggle.html" %}
    </div>
    <div class="app-sidebar__body">
        <div class="sidebar-section">
            <h3 class="sidebar-section__title">
                Getting Started
                <button class="btn btn--light btn--sm btn--icon">
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
            </h3>
            <nav class="sidebar-section__navigation">
                <ul>
                    <li>
                        <a href="/getting-started/introduction/"
                            >Introduction</a
                        >
                    </li>
                    <li><a href="/getting-started/features/">Features</a></li>
                    <li><a href="/getting-started/structure/">Structure</a></li>
                    <li><a href="/getting-started/setup/">Setup</a></li>
                    <li>
                        <a href="/getting-started/content-management/"
                            >Content Management</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-section">
            <h3 class="sidebar-section__title">Customization</h3>
            <nav class="sidebar-section__navigation">
                <ul>
                    <li><a href="/customization/spruce-css/">Spruce CSS</a></li>
                    <li><a href="/customization/themes/">Themes</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="app-sidebar__footer">
        {% include "partial/theme-switcher.html" %}
    </div>
</aside>
