<aside class="app-sidebar">
    <div class="app-sidebar__header">
        <a class="app-sidebar__logo" href="/" aria-label="{{ site.name }}">
            {% svgIcon './src/img/root-logo.svg' %}
        </a>
        <div class="app-sidebar__search">
            {% include "partial/search-toggle.html" %}
        </div>
        <button
            class="btn btn--outline-dark btn--sm btn--icon display--none:md"
            data-action="sidebar-close"
            aria-label="Close navigation"
            aria-expanded="false"
        >
            {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
        </button>
    </div>
    <div class="app-sidebar__body">
        {% for block in navigation %}
            <div
                class="block-navigation"
                data-item="navigation-block"
            >
                {% if block.title %}
                    <h3 class="block-navigation__title">
                        {{ block.title }}
                        <button
                            class="btn btn--light btn--sm btn--icon block-navigation__toggle"
                            aria-expanded="{{ block.expanded }}"
                            aria-label="Toggle shop navigation"
                            data-action="block-navigation-toggle"
                        >
                            {% svgIcon './src/img/icon/chevron-up.svg', 'btn__icon' %}
                        </button>
                    </h3>
                {% endif %}
                <nav
                    class="block-navigation__menu block-navigation__menu--breakout"
                    data-state="{% if block.expanded == true %}open{% else %}closed{% endif %}"
                >
                    <ul>
                        {% for item in block.items %}
                        <li>
                            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                                {% if item.icon %}
                                    {% svgIcon item.icon %}
                                {% endif %}
                                {{ item.caption }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endfor %}
    </div>
</aside>
