<aside class="app-sidebar">
    <div class="app-sidebar__header">
        <a class="app-sidebar__logo" href="/">
            <img
                src="/img/root-logo-dark.svg"
                alt="Root"
                data-theme-mode="data-theme-mode"
                data-light-asset="/img/root-logo-dark.svg"
                data-dark-asset="/img/root-logo-light.svg"
            />
        </a>
        {% include "partial/search-toggle.html" %}
    </div>
    <div class="app-sidebar__body">
        <div class="sidebar-section">
            <nav class="sidebar-section__navigation">
                <ul>
                    <li>
                        <a href="#">
                            {% svgIcon './src/img/icon/home.svg' %}
                            Dashboard
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-section">
            <h3 class="sidebar-section__title">
                Shop
                <button class="btn btn--light btn--sm btn--icon">
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
            </h3>
            <nav class="sidebar-section__navigation">
                <ul>
                    <li>
                        <a href="#" aria-current="page">
                            {% svgIcon './src/img/icon/eye.svg' %}
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% svgIcon './src/img/icon/eye.svg' %}
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% svgIcon './src/img/icon/eye.svg' %}
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% svgIcon './src/img/icon/eye.svg' %}
                            Categories
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-section">
            <h3 class="sidebar-section__title">
                Pages
                <button class="btn btn--light btn--sm btn--icon">
                    {% svgIcon './src/img/icon/chevron-down.svg', 'btn__icon' %}
                </button>
            </h3>
            <nav class="sidebar-section__navigation">
                <ul>
                    <li><a href="/login/">Login</a></li>
                    <li><a href="/sign-up/">Sign Up</a></li>
                    <li><a href="/password-reset/">Password Reset</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="app-sidebar__footer">
        {% include "partial/theme-switcher.html" %}
    </div>
</aside>
