<div class="theme-switcher" id="theme-switcher">
    <span class="theme-switcher__icon">
        {% svgIcon './src/img/icon/system-mode.svg', 'icon-system' %}
        {% svgIcon './src/img/icon/light-mode.svg', 'icon-light' %}
        {% svgIcon './src/img/icon/dark-mode.svg', 'icon-dark' %}
    </span>
    <select class="form-control form-control--sm theme-switcher__select" id="select-theme-mode" aria-label="Select a theme">
      <option value="system">System</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
  </div>
