@use 'sprucecss/scss/spruce' as *;

.l-main {
  display: flex;
  position: relative;

  &__sidebar {
    box-shadow: 0 0 spacer('s') color('shadow', 'main');
    inline-size: get-css-variable(--sidebar-inline-size);
    inset-block: 0;
    inset-inline: 0 auto;
    position: fixed;
    z-index: 10;
  }

  &__body {
    background-color: color('background', 'main');
    inline-size: calc(100% - #{get-css-variable(--sidebar-inline-size)});
    min-block-size: 100lvh;
    margin-inline-start: get-css-variable(--sidebar-inline-size);
  }

  &__header {
    background-color: color('background');
  }
}
