@use 'sprucecss/scss/spruce' as *;

.l-main {
  display: flex;
  position: relative;

  &__sidebar {
    box-shadow: 0 0 3rem hsl(201.15deg 72.03% 32.71% / 10%);
    inline-size: get-css-variable(--app-sidebar-inline-size);
    inset: 0 auto 0 0;
    position: fixed;
    z-index: 10;
  }

  &__body {
    background-color: #f7fafd;
    inline-size: calc(100% - #{get-css-variable(--app-sidebar-inline-size)});
    margin-inline-start: get-css-variable(--app-sidebar-inline-size);
  }

  &__header {
    background-color: color('background');
  }
}
