@use 'sprucecss/scss/spruce' as *;

.l-sidebar {
  display: grid;
  gap: spacer('m');
  grid-template-columns: minmax(0, 1fr);

  @include breakpoint('lg') {
    grid-template-columns: minmax(0, 1fr) minmax(0, 20rem);
  }
}
