@use 'sprucecss/scss/spruce' as *;

.combobox {
  @include generate-variables($form-control, $include: ('border-width', 'border-radius'));
  position: relative;
  z-index: 50;

  &__inner {
    @include set-css-variable((
      --padding: 0.5em,
    ));
    align-items: center;
    display: flex;
    gap: spacer('s');
    justify-content: space-between;
    position: relative;
  }

  &__toggle {
    inset: 0 0 0 auto;
    pointer-events: none;
    position: absolute;
  }

  [role="listbox"] {
    @include clear-list;
    @include scrollbar;
    background-color: color('background', 'form');
    border: config('border-width', $form-control) solid color('border', 'form');
    border-radius: config('border-radius', $form-control);
    display: flex;
    flex-direction: column;
    gap: spacer('xs');
    inset: calc(100% + #{spacer('xs')}) 0 auto 0;
    max-block-size: 10rem;
    overflow-y: auto;
    padding: spacer('xs');
    position: absolute;

    > * {
      margin-block-start: 0;
    }
  }

  [role="option"] {
    align-items: center;
    border-radius: config('border-radius', $form-control);
    display: flex;
    justify-content: space-between;
    padding-block: spacer('xxs');
    padding-inline: spacer('s');

    &[aria-selected="true"] {
      background-color: color('light-background', 'btn');
      color: color('light-foreground', 'btn');
    }

    &:hover,
    &:focus,
    &.highlighted {
      background-color: color('primary-background', 'btn');
      color: color('primary-foreground', 'btn');
    }

    svg {
      --dimension: 0.85em;
      block-size: var(--dimension);
      inline-size: var(--dimension);
    }
  }
}
