@use 'sprucecss/scss/spruce' as *;

.search-form {
  $this: &;
  align-items: center;
  display: grid;
  grid-template-columns: 2.25rem 1fr 3.75rem;

  &--helper {
    #{$this}__control {
      padding-inline: 2.25rem 3.75rem;
    }
  }

  &__control {
    grid-column: 1 / 4;
    grid-row: 1;
    padding-inline-start: 2.25rem;
  }

  &__icon {
    color: color('border', 'form');
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1;
    justify-content: center;

    svg {
      --dimension: 0.9rem;
      block-size: var(--dimension);
      inline-size: var(--dimension);
    }
  }

  &__helper {
    background-color: color('light-background', 'btn');
    border-radius: config('border-radius', $form-control, false);
    color: color('light-foreground', 'btn');
    font-weight: config('font-weight', $btn, false);
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: center;
    line-height: 1;
    padding: spacer('xxs') spacer('xs');
    pointer-events: none;
  }
}
