@use 'sprucecss/scss/spruce' as *;

.btn--outline-dark {
  @include btn-variant-outline('dark');
  color: color('heading');

  &:hover,
  &:focus {
    background-color: color('heading');
    border-color: color('heading');
  }
}
