{% extends "layout/base.html" %}

{% block content %}
    <div class="l-main">
        <div class="l-main__sidebar" data-item="sidebar">
            {% include "partial/sidebar.html" %}
        </div>
        <main id="content" class="l-main__body" data-item="body">
            {% include "partial/header.html" %}
            {% set heading = {
                'title': title
            } %}
            {% include "partial/heading.html" %}
            <div class="container">
                <div class="app-body">
                    <div class="app-card app-card--sidebar">
                        <div class="app-card__sidebar">
                            <div class="block-navigation">
                                <nav class="block-navigation__menu" data-state="open">
                                    <ul>
                                        {% for item in account %}
                                        <li>
                                            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
                                                {{ item.caption }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="app-card__body">
                            <h3>Personal Information</h3>
                            <div class="form-group-stack form-group-stack--bordered form-group-container">
                                <div class="form-group--row">
                                    <label class="form-label" for="your-first-name">First Name</label>
                                    <input class="form-control" id="your-first-name" name="your-first-name" type="text"/>
                                </div>
                                <div class="form-group--row">
                                    <label class="form-label" for="your-last-name">Last Name</label>
                                    <input class="form-control" id="your-last-name" name="your-last-name" type="text"/>
                                </div>
                                <div class="form-group--row">
                                    <label class="form-label" for="your-email">Email</label>
                                    <input class="form-control" id="your-email" name="your-email" type="email"/>
                                </div>
                                <div class="form-group--row">
                                    <label class="form-label" for="your-phone">Phone</label>
                                    <input class="form-control" id="your-phone" name="your-phone" type="text"/>
                                </div>
                                <div class="form-group--row">
                                    <label class="form-label" for="your-bio">Bio</label>
                                    <textarea class="form-control" id="your-bio" name="your-bio" placeholder="Write your bio..." rows="4"></textarea>
                                </div>
                            </div>
                            <h3>Address</h3>
                            <div class="form-group-stack form-group-stack--bordered form-group-container">
                                <div class="form-group--row">
                                    <label class="form-label" for="your-country">Country</label>
                                    <input class="form-control" id="your-country" name="your-country" type="text"/>
                                </div>
                                <div class="form-group--row">
                                    <label class="form-label" for="your-city">City/State</label>
                                    <input class="form-control" id="your-city" name="your-city" type="text"/>
                                </div>
                                <div class="form-group--row">
                                    <label class="form-label" for="your-postal-code">Postal Code</label>
                                    <input class="form-control" id="your-postal-code" name="your-postal-code" type="text"/>
                                </div>
                            </div>
                            <div class="app-actions">
                                <button class="btn btn--primary">Save</button>
                                <button class="btn btn--light">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "partial/footer.html" %}
        </main>
    </div>
{% endblock %}
