{% extends "layout/base.html" %}

{% block content %}
    <main id="content" class="l-auth">
        <div class="l-auth__inner">
            <div class="l-auth__form">
                <a class="l-auth__logo" href="/" aria-label="{{ site.name }}">
                    {% svgIcon './src/img/root-logo.svg' %}
                </a>
                {{ content | safe }}
                <div class="l-auth__footer">
                    <p>Not a member? <a href="/sign-up/">Sign Up</a></p>
                </div>
            </div>
            <div class="l-auth__sidebar"></div>
        </div>
    </main>
{% endblock %}
