{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="/js/theme-detection.js?{{ assetHash }}"></script>
        {% include "partial/preload.html" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% include "partial/meta.html" %}
        <link rel="stylesheet" href="/css/main.css?{{ assetHash }}">
        <script>
            window.products = {{ products | dump | safe }};
        </script>
    </head>
    <body>
        <a class="btn btn--primary skip-link" href="#content">Skip to content</a>

        {% block content %}{% endblock %}

        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="/js/theme-change-assets.js?{{ assetHash }}" defer></script>
        <script src="/js/navigation.js?{{ assetHash }}" defer></script>
        <script src="/js/theme-switcher.js?{{ assetHash }}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts?{{ assetHash }}" defer></script>
        <script src="/js/charts.js?{{ assetHash }}" type="module" defer></script>
        <script src="/js/range-group.js?{{ assetHash }}" type="module" defer></script>
        <script src="/js/repeater.js?{{ assetHash }}" type="module" defer></script>
    </body>
</html>
