{% extends "layout/base.html" %}

{% block content %}
    <main id="content" class="l-main">
        <div class="l-main__sidebar">
            {% include "partial/sidebar.html" %}
        </div>
        <div class="l-main__body">
            {% include "partial/header.html" %}
            <div class="app-heading">
                <div class="container">
                    <div class="app-heading__inner">
                        <div class="app-heading__caption">
                            <h1 class="app-heading__title">Dashboard</h1>
                            <div class="app-heading__meta">
                                <p>Hey Adam, welcome back! Here is your personal dashboard.</p>
                            </div>
                        </div>
                        <div class="app-heading__actions">
                            <a href="#" class="btn btn--primary btn--icon">
                                {% svgIcon './src/img/icon/eye.svg', 'btn__icon' %}
                                Create new
                            </a>
                            <a href="#" class="btn btn--primary-outline btn--icon">
                                {% svgIcon './src/img/icon/trash.svg', 'btn__icon' %}
                                Statistics
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="app-body">
                    <div class="app-body__row">
                        <div class="card">
                            <div class="card__header">
                                <h2 class="card__title">Sales</h2>
                            </div>
                            <div class="card__body">
                                <div id="chart-area"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card__header">
                                <h2 class="card__title">Active users</h2>
                            </div>
                            <div class="card__body">
                                <div id="chart-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__header">
                            <h2 class="card__title">Products</h2>
                        </div>
                        <div class="card__body">
                            <div class="data-table">
                                <table class="table table--hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="form-check">
                                                    <input class="form-check__control" type="checkbox" value="1" name="select-all" aria-albel="Select all item"/>
                                                </label>
                                            </th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">SKU</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"><span class="sr-only">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set productList = products.slice(0, 6) %}
                                        {% for product in productList %}
                                        <tr>
                                            <td>
                                                <label class="form-check">
                                                    <input class="form-check__control" type="checkbox" value="1" name="{{ product.id }}" aria-albel="Select {{ product.name }}"/>
                                                </label>
                                            </td>
                                            <td><img class="data-table__image" src="{{ product.image }}?random={{ product.id }}" alt="{{ product.name }}"></td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.price }}</td>
                                            <td>{{ product.sku }}</td>
                                            <td>{{ product.qty }}</td>
                                            <td>{{ product.status }}</td>
                                            <td>
                                                <div class="data-table__actions">
                                                    <a href="#" class="btn btn--light btn--sm btn--icon">
                                                        {% svgIcon './src/img/icon/eye.svg', 'btn__icon' %}
                                                    </a>
                                                    <a href="#" class="btn btn--light btn--sm btn--icon">
                                                        {% svgIcon './src/img/icon/edit.svg', 'btn__icon' %}
                                                    </a>
                                                    <a href="#" class="btn btn--light btn--sm btn--icon">
                                                        {% svgIcon './src/img/icon/trash.svg', 'btn__icon' %}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="data-table__footer">
                                    <p>Showing 1 to 20 of 100 results</p>
                                    {% include "partial/pagination.html" %}
                                    <div class="form-group">
                                        <label class="sr-only" for="front-end-frameworks">Front-end Frameworks</label>
                                        <select class="form-control form-control--sm" id="front-end-frameworks">
                                            <option value="react">React</option>
                                            <option value="vue">Vue</option>
                                            <option value="svelte">Svelte</option>
                                            <option value="ember">Ember</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "partial/footer.html" %}
        </div>
    </main>
{% endblock %}
