{% extends "layout/base.html" %}

{% block content %}
    <main id="content" class="l-main">
        <div class="l-main__sidebar">
            {% include "partial/sidebar.html" %}
        </div>
        <div class="l-main__body">
            {% include "partial/header.html" %}
            <div class="app-heading">
                <div class="container">
                    <div class="app-heading__inner">
                        <h1 class="app-heading__title">Dashboard</h1>
                        <div class="app-heading__meta">
                            <p>Hey Adam, welcome back! Here is your personal dashboard.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="background-color: #efefef; block-size: 4000px;"></div>
            </div>
            {% include "partial/footer.html" %}
        </div>
    </main>
{% endblock %}
