{% extends "layout/base.html" %}

{% block content %}
    <div class="l-main">
        <div class="l-main__sidebar" :class="{ 'l-main__sidebar--open': sidebarOpen }">
            {% include "partial/sidebar.html" %}
        </div>
        <main id="content" class="l-main__body" data-item="body">
            {% include "partial/header.html" %}
            {% set heading = {
                'title': title,
                'actions': [{
                    'label': 'Add new order',
                    'icon': './src/img/icon/plus.svg',
                    'class': 'btn btn--primary btn--icon'
                }]
            } %}
            {% include "partial/heading.html" %}
            <div class="container">
                <div class="app-body">
                    <div
                        class="app-card"
                        x-data="dataTable('orders', ['name'])"
                        x-cloak
                    >
                        <div class="app-card__header">
                            <div class="app-card__actions">
                                <form class="search-form" @submit.prevent>
                                    <span class="search-form__icon">
                                        {% svgIcon "./src/img/icon/search.svg" %}
                                    </span>
                                    <input
                                        x-model="search"
                                        class="search-form__control"
                                        type="text"
                                        placeholder="Search..."
                                        title="Search"
                                    />
                                </form>
                            </div>
                        </div>
                        <div class="app-card__body">
                            <div class="data-table">
                                <div
                                    class="alert alert--info data-table-alert"
                                    x-show="selectedItems.length"
                                >
                                    <span x-text="`${selectedItems.length > total ? total : selectedItems.length} items are selected`"></span>
                                    <div class="data-table-alert__actions">
                                        <div class="data-table-alert__column">
                                            <button
                                                @click="selectAllCheckbox($event);"
                                                class="btn btn--primary btn--sm"
                                                x-text="`Select all ${items.length > total ? total : items.length}`"
                                            ></button>
                                            <button
                                                @click="deselectAllCheckbox($event);"
                                                class="btn btn--primary btn--sm"
                                            >
                                                Deselect all
                                            </button>
                                        </div>
                                        <div class="data-table-alert__column">
                                            <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                                                <option value="bulk-edit">Bulk edit</option>
                                                <option value="send-notification">Send notification</option>
                                                <option value="publish">Publish</option>
                                                <option value="delete">Delete</option>
                                            </select>
                                            <button class="btn btn--primary btn--sm">Run</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table--hover">
                                        <thead>
                                            <tr>
                                                <th style="inline-size: 3.25rem;">
                                                    <span class="sr-only">Select</span>
                                                    <label
                                                        @click="toggleAllCheckbox($event);"
                                                        aria-label="Select all item"
                                                        class="form-check"
                                                    >
                                                        <input
                                                            class="form-check__control"
                                                            type="checkbox"
                                                            value="1"
                                                            name="select-all"
                                                            x-model="selectAll" />
                                                    </label>
                                                </th>
                                                <th>ID</th>
                                                <th>
                                                    <button
                                                        @click="sort('total')"
                                                        class="sort-btn"
                                                        type="button"
                                                    >
                                                        Total
                                                        {% svgIcon "./src/img/icon/chevron-up-down.svg", "sort-btn__icon" %}
                                                    </button>
                                                </th>
                                                <th>Name</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template x-if="pagedItems.length === 0">
                                                <tr>
                                                    <td colspan="4">Loading...</td>
                                                </tr>
                                            </template>
                                            <template x-for="(item, index) in pagedItems" :key="item.orderId">
                                                <tr>
                                                    <td>
                                                        <label class="form-check" :aria-label="`Select ${item.name}`">
                                                            <input
                                                                :name="item.orderId"
                                                                class="form-check__control"
                                                                type="checkbox"
                                                                value="1"
                                                                x-model="item.selected"
                                                                :change="updateSelectAllStatus()"
                                                            />
                                                        </label>
                                                    </td>
                                                    <td x-text="item.orderId"></td>
                                                    <td x-text="`$ ${item.total}`"></td>
                                                    <td x-text="item.name"></td>
                                                    <td>
                                                        <div class="data-table__actions">
                                                            <a href="/product/edit/" class="btn btn--light btn--sm btn--icon" aria-label="Edit">
                                                                {% svgIcon './src/img/icon/edit.svg', 'btn__icon' %}
                                                            </a>
                                                            <a href="#" class="btn btn--delete btn--sm btn--icon" aria-label="Delete">
                                                                {% svgIcon './src/img/icon/trash.svg', 'btn__icon' %}
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                {% include "partial/card/data-table-footer.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "partial/footer.html" %}
        </main>
    </div>
{% endblock %}
