{% extends "layout/base.html" %}

{% set posts = pagination.items %}

{% if collections[ tag ] %}
    {% set posts = collections[tag].reverse() %}
    {% set title = 'Tagged with: ' + tag %}
{% endif %}

{% block content %}
    <div class="l-post">
        <div class="container container--narrow">
            {% include "partial/post-heading.html" %}
            <ol class="l-post__list">
                {% for post in posts %}
                    {% set tags = post.data.tags %}
                    <li>
                        <div class="blog-card">
                            <h2 class="blog-card__title">
                                <a href="{{ post.url }}" class="blog-card__link">
                                    {{ post.data.title }}
                                </a>
                            </h2>
                            <div class="blog-card__meta">
                                {% if post.data.date %}
                                    <time datetime="{{ post.data.date | w3DateFilter }}">{{ post.data.date | dateFilter('en') }}</time>
                                {% endif %}
                                {% include "partial/tags.html" %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
            {% if not tag %}
                {% include "partial/pagination.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
