{% extends "layout/base.html" %}

{% block content %}
    <div class="l-main">
        <div class="l-main__sidebar" :class="{ 'l-main__sidebar--open': sidebarOpen }">
            {% include "partial/sidebar.html" %}
        </div>
        <main id="content" class="l-main__body" data-item="body">
            {% include "partial/header.html" %}
            {% set heading = {
                'title': title,
                'actions': [{
                    'label': 'Add new product',
                    'icon': './src/img/icon/plus.svg',
                    'class': 'btn btn--primary btn--icon'
                }]
            } %}
            {% include "partial/heading.html" %}
            <div class="container">
                <div class="app-body">
                    <div class="l-row l-row--column:sm:2 l-row--column:lg:3">
                        {% set widget = {
                            'class': 'app-widget--summary',
                            'icon': './src/img/icon/shopping-bag.svg',
                            'trendingType': 'up',
                            'trendingData': '+12%',
                            'chartTitle': 'Total Products',
                            'chartData': '341'
                        } %}
                        {% include 'partial/widget/summary.html' %}
                        {% set widget = {
                            'class': 'app-widget--summary',
                            'icon': './src/img/icon/archive.svg',
                            'trendingType': 'up',
                            'trendingData': null,
                            'chartTitle': 'Total Inventory',
                            'chartData': '2,340'
                        } %}
                        {% include 'partial/widget/summary.html' %}
                        {% set widget = {
                            'class': 'app-widget--summary app-widget--small-data',
                            'icon': './src/img/icon/star.svg',
                            'trendingData': null,
                            'chartTitle': 'Best Selling',
                            'chartData': 'ZephyrFit Fitness Tracker'
                        } %}
                        {% include 'partial/widget/summary.html' %}
                    </div>
                    <div
                        class="app-card"
                        x-data="dataTable('products', ['name', 'status'])"
                        x-cloak
                    >
                        <div class="app-card__header">
                            <div class="app-card__actions">
                                <form class="search-form" @submit.prevent>
                                    <span class="search-form__icon">
                                        {% svgIcon "./src/img/icon/search.svg" %}
                                    </span>
                                    <input
                                        x-model="search"
                                        class="search-form__control"
                                        type="text"
                                        placeholder="Search..."
                                        title="Search"
                                    />
                                </form>
                                <div class="data-table-filter" x-data="{ open: false }" @click.outside="open = false">
                                    <button class="btn btn--light btn--icon btn--counter data-table-filter__toggle" :aria-expanded="open" @click="open = ! open" aria-label="Filters">
                                        {% svgIcon './src/img/icon/filter.svg', 'btn__icon' %}
                                        <span
                                            class="btn__counter"
                                            x-show="filters.length > 0"
                                            x-text="filters.length"
                                        >2</span>
                                    </button>
                                    <div class="context-menu context-menu--inline-end" :data-state="open ? 'open' : 'closed'">
                                        <form
                                            @submit.prevent="submitForm(formData)"
                                            class="form-group-stack form-group-stack--bordered form-group-container"
                                        >
                                            <div class="form-group">
                                                <label class="form-label" for="status">Status</label>
                                                <select class="form-control" id="status" x-model="formData.status">
                                                    <option>All</option>
                                                    <option>In stock</option>
                                                    <option>Out of stock</option>
                                                </select>
                                            </div>
                                            <div class="data-table-filter__actions">
                                                <button class="btn btn--primary btn--sm">Filter</button>
                                                <button
                                                    @click="filters = []"
                                                    type="reset"
                                                    class="btn btn--light btn--sm"
                                                >Reset</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="app-card__body">
                            <div class="data-table">
                                <div
                                    class="alert alert--info data-table-alert"
                                    x-show="selectedItems.length"
                                >
                                    <span x-text="`${selectedItems.length > total ? total : selectedItems.length} items are selected`"></span>
                                    <div class="data-table-alert__actions">
                                        <div class="data-table-alert__column">
                                            <button
                                                @click="selectAllCheckbox($event);"
                                                class="btn btn--primary btn--sm"
                                                x-text="`Select all ${items.length > total ? total : items.length}`"
                                            ></button>
                                            <button
                                                @click="deselectAllCheckbox($event);"
                                                class="btn btn--primary btn--sm"
                                            >
                                                Deselect all
                                            </button>
                                        </div>
                                        <div class="data-table-alert__column">
                                            <select class="form-control form-control--sm" id="actions" aria-label="Actions">
                                                <option value="bulk-edit">Bulk edit</option>
                                                <option value="send-notification">Send notification</option>
                                                <option value="publish">Publish</option>
                                                <option value="delete">Delete</option>
                                            </select>
                                            <button class="btn btn--primary btn--sm">Run</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table--hover">
                                        <thead>
                                            <tr>
                                                <th style="inline-size: 3.25rem;">
                                                    <span class="sr-only">Select</span>
                                                    <label
                                                        @click="toggleAllCheckbox($event);"
                                                        aria-label="Select all item"
                                                        class="form-check"
                                                    >
                                                        <input
                                                            class="form-check__control"
                                                            type="checkbox"
                                                            value="1"
                                                            name="select-all"
                                                            x-model="selectAll" />
                                                    </label>
                                                </th>
                                                <th>Image</th>
                                                <th>
                                                    <button
                                                        @click="sort('name')"
                                                        class="sort-btn"
                                                        type="button"
                                                    >
                                                        Name
                                                        {% svgIcon "./src/img/icon/chevron-up-down.svg", "sort-btn__icon" %}
                                                    </button>
                                                </th>
                                                <th>
                                                    <button
                                                        @click="sort('price')"
                                                        class="sort-btn"
                                                        type="button"
                                                    >
                                                        Price
                                                        {% svgIcon "./src/img/icon/chevron-up-down.svg", "sort-btn__icon" %}
                                                    </button>
                                                </th>
                                                <th>SKU</th>
                                                <th>Qty</th>
                                                <th>Status</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template x-if="pagedItems.length === 0">
                                                <tr>
                                                    <td class="data-table__no-results" colspan="8">No results were found.</td>
                                                </tr>
                                            </template>
                                            <template x-for="(item, index) in pagedItems" :key="item.id">
                                                <tr>
                                                    <td>
                                                        <label class="form-check" :aria-label="`Select ${item.name}`">
                                                            <input
                                                                :name="item.id"
                                                                class="form-check__control"
                                                                type="checkbox"
                                                                value="1"
                                                                x-model="item.selected"
                                                                :change="updateSelectAllStatus()"
                                                            />
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <img class="data-table__image" :src="`${item.image}?random=${item.id}`" alt="{{ item.name }}">
                                                    </td>
                                                    <td x-text="item.name"></td>
                                                    <td x-text="`$ ${item.price}`"></td>
                                                    <td x-text="item.sku"></td>
                                                    <td x-text="item.qty"></td>
                                                    <td>
                                                        <template x-if="item.status === 'In stock'">
                                                            <span
                                                                class="status status--success"
                                                                x-text="item.status"></span>
                                                        </template>
                                                        <template x-if="item.status === 'Out of stock'">
                                                            <span
                                                                class="status status--danger"
                                                                x-text="item.status"></span>
                                                        </template>
                                                    </td>
                                                    <td>
                                                        <div class="data-table__actions">
                                                            <a href="/product/edit/" class="btn btn--light btn--sm btn--icon" aria-label="Edit">
                                                                {% svgIcon './src/img/icon/edit.svg', 'btn__icon' %}
                                                            </a>
                                                            <a href="#" class="btn btn--delete btn--sm btn--icon" aria-label="Delete">
                                                                {% svgIcon './src/img/icon/trash.svg', 'btn__icon' %}
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                {% include "partial/card/data-table-footer.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "partial/footer.html" %}
        </main>
    </div>
{% endblock %}
