{% extends "layout/base.html" %}

{% block content %}
    <div class="l-main">
        <div class="l-main__sidebar" data-item="sidebar">
            {% include "partial/sidebar.html" %}
        </div>
        <main id="content" class="l-main__body" data-item="body">
            {% include "partial/header.html" %}
            {% set heading = {
                'title': title
            } %}
            {% include "partial/heading.html" %}
            <div class="container">
                <div class="app-body">
                    <div class="l-row l-row--column:sm:2 l-row--column:lg:3">
                        <div class="app-card app-card--setting">
                            <div class="app-card__body">
                                <div class="app-card__content">
                                    <h2 class="app-card__title">Account</h2>
                                    <p class="app-card__description">Change your account settings.</p>
                                </div>
                                <div class="app-card__actions">
                                    <a href="#" class="btn btn--outline-primary btn--sm">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="app-card app-card--setting">
                            <div class="app-card__body">
                                <div class="app-card__content">
                                    <h2 class="app-card__title">Billing</h2>
                                    <p class="app-card__description">Manage your billing information.</p>
                                </div>
                                <div class="app-card__actions">
                                    <a href="#" class="btn btn--outline-primary btn--sm">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="app-card app-card--setting">
                            <div class="app-card__body">
                                <div class="app-card__content">
                                    <h2 class="app-card__title">Notifications</h2>
                                    <p class="app-card__description">Manage your notification settings.</p>
                                </div>
                                <div class="app-card__actions">
                                    <a href="#" class="btn btn--outline-primary btn--sm">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="app-card app-card--setting">
                            <div class="app-card__body">
                                <div class="app-card__content">
                                    <h2 class="app-card__title">Security</h2>
                                    <p class="app-card__description">Manage your security settings.</p>
                                </div>
                                <div class="app-card__actions">
                                    <a href="#" class="btn btn--outline-primary btn--sm">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="app-card app-card--setting">
                            <div class="app-card__body">
                                <div class="app-card__content">
                                    <h2 class="app-card__title">Integrations</h2>
                                    <p class="app-card__description">Manage your integrations.</p>
                                </div>
                                <div class="app-card__actions">
                                    <a href="#" class="btn btn--outline-primary btn--sm">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "partial/footer.html" %}
        </main>
    </div>
{% endblock %}
