@use 'sprucecss/scss/spruce' as *;

.auth-form {
  @include layout-stack('s');
  margin-block: auto;
}

.form-group-stack {
  @include layout-stack('s');
}

.form-label {
  &--space-between {
    display: flex;
    justify-content: space-between;
  }
}
