@use 'sprucecss/scss/spruce' as *;

.theme-switcher {
  color: color('text');
  display: inline-flex;
  position: relative;

  &[data-theme-mode='system'] .icon-system { display: inline-block; }
  &[data-theme-mode='light'] .icon-light { display: inline-block; }
  &[data-theme-mode='dark'] .icon-dark { display: inline-block; }

  &__icon {
    align-items: center;
    color: color('heading');
    display: flex;
    inset: 0 auto 0 0;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    inline-size: 2em;

    svg {
      display: none;
      block-size: 0.85em;
      inline-size: 0.85em;
    }
  }

  &__select {
    padding-inline-start: 2em;
  }
}
