@use 'sprucecss/scss/spruce' as *;

.user-menu {
  align-items: center;
  display: flex;
  gap: spacer('s');

  &__avatar {
    --dimenion: 2.1rem;
    block-size: var(--dimenion);
    border-radius: 50%;
    inline-size: var(--dimenion);
  }

  &__caption {
    display: none;
    flex-direction: column;
    font-size: config('font-size-base', $typography);
    gap: spacer('xxs');
    line-height: 1;

    @include breakpoint('md') {
      display: flex;
    }
  }

  &__role {
    font-size: config('font-size-sm', $typography);
  }

  &__display-name {
    color: color('heading');
    font-weight: 700;
  }

  &__toggle {
    @include clear-btn;
    display: flex;

    svg {
      --dimension: 1em;
      block-size: var(--dimension);
      inline-size: var(--dimension);
    }
  }
}
