<div class="auth-form">
    <h1 class="auth-form__title">Login</h1>
    <p>Hey there, welcome back!</p>
    <form method="POST" action="#">
        <div class="form-group-stack">
            <div class="social-logins">
                <button class="btn btn--outline-dark btn--lg btn--icon btn--block">
                    {% svgIcon './src/img/icon/google.svg', 'btn__icon' %} Sign up with Google
                </button>
                <button class="btn btn--outline-dark btn--lg btn--icon btn--block">
                    {% svgIcon './src/img/icon/apple.svg', 'btn__icon' %} Sign up with Apple ID
                </button>
            </div>
            <span class="or-separator" aria-hidden="true">or</span>
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input
                    class="form-control form-control--lg"
                    id="email"
                    type="text"
                    name="email"
                    required="required"
                    autocomplete="off"
                    autofocus="autofocus"
                />
            </div>
            <div class="form-group">
                <label
                    class="form-label form-label--space-between"
                    for="password"
                    >Password <a href="#">Forgot password?</a>
                </label>
                <input
                    class="form-control form-control--lg"
                    id="password"
                    type="password"
                    name="password"
                    required="required"
                    autocomplete="off"
                />
            </div>
            <div class="form-group">
                <label
                    class="form-check form-check--lg"
                    for="remember"
                >
                    <input
                        class="form-check__control"
                        id="remember"
                        type="checkbox"
                        name="remember"
                    />
                    <span class="form-label form-check__label"
                        >Remember me</span
                    >
                </label>
            </div>
            <div class="form-group">
                <button
                    class="btn btn--primary btn--lg btn--block"
                    type="submit"
                >
                    Login
                </button>
            </div>
        </div>
    </form>
</div>
