<div class="auth-form">
    <h1 class="auth-form__title">Reset<br>Password</h1>
    <p>Don't worry, it happens. Please, give us your email associated with your account.</p>
    <form method="POST" action="#">
        <div class="form-group-stack">
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input
                    class="form-control form-control--lg"
                    id="email"
                    type="text"
                    name="email"
                    required="required"
                    autocomplete="off"
                    autofocus="autofocus"
                />
            </div>
            <div class="form-group">
                <button
                    class="btn btn--primary btn--lg btn--block btn--primary-shadow"
                    type="submit"
                >
                    Reset Password
                </button>
            </div>
        </div>
    </form>
</div>
