<div class="auth-form">
    <h1 class="auth-form__title">Sign In</h1>
    <p>Hey there, welcome back!</p>
    <form method="POST" action="#">
        <div class="form-group-stack">
            <div class="social-logins">
                <button class="btn btn--outline-dark btn--lg btn--icon btn--block">
                    {% svgIcon './src/img/icon/google.svg', 'btn__icon' %} Sign in with Google
                </button>
                <button class="btn btn--outline-dark btn--lg btn--icon btn--block">
                    {% svgIcon './src/img/icon/apple.svg', 'btn__icon' %} Sign in with Apple ID
                </button>
            </div>
            <span class="or-separator" aria-hidden="true">or</span>
            <div class="form-group">
                <label class="form-label" for="your-email">Email</label>
                <input
                    class="form-control form-control--lg"
                    id="your-email"
                    type="email"
                    name="your-email"
                    required="required"
                />
            </div>
            <div class="form-group">
                <label
                    class="form-label form-label--space-between"
                    for="your-password"
                    >Password <a href="/password-reset/">Forgot your password?</a>
                </label>
                <input
                    class="form-control form-control--lg"
                    id="your-password"
                    type="password"
                    name="your-password"
                    required="required"
                />
            </div>
            <div class="form-group">
                <label
                    class="form-check form-check--lg"
                    for="remember-me"
                >
                    <input
                        class="form-check__control"
                        id="remember-me"
                        type="checkbox"
                        name="remember-me"
                    />
                    <span class="form-label form-check__label">Remember me</span>
                </label>
            </div>
            <div class="form-group">
                <button
                    class="btn btn--primary btn--lg btn--block btn--primary-shadow"
                >
                    Sign In
                </button>
            </div>
        </div>
    </form>
</div>
