---
title: "File Group"
layout: "layout/reference.html"
permalink: "reference/file-group/"
breadcrumbs:
    - caption: "Dashboard"
      url: "/"
    - caption: "Reference"
      url: "/reference/"
    - caption: "File Group"
      url: null
---

<div class="app-card app-card--edit">
    <div class="app-card__header">
        <h2 class="app-card__title">Default State</h2>
    </div>
    <div class="app-card__body">
        <div class="file-group">
            <div class="file-group__preview">
                {% svgIcon './src/img/icon/image.svg', 'file-group__icon' %}
            </div>
            <div class="file-group__body">
                <p class="file-group__title">Upload a product image</p>
                <ul class="file-group__meta">
                    <li>Accepted formats: JPG, PNG</li>
                    <li>Maximum upload limit: 5 MB</li>
                </ul>
                <div class="file-group__action">
                    <button class="btn btn--delete btn--icon file-group__remove">
                        {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                    </button>
                    <input class="form-file form-file file-group__input" type="file" id="product-image-3" accept="image/png, image/jpeg"/>
                </div>
            </div>
        </div>
{% highlight "html" %}
<div class="file-group">
    <div class="file-group__preview">
        <svg class="file-group__icon">...</svg>
    </div>
    <div class="file-group__body">
        <p class="file-group__title">Upload a product image</p>
        <ul class="file-group__meta">
            <li>Accepted formats: JPG, PNG</li>
            <li>Maximum upload limit: 5 MB</li>
        </ul>
        <div class="file-group__action">
            <button class="btn btn--delete btn--icon file-group__remove">
                <svg class="btn__icon">...</svg>
            </button>
            <input class="form-file form-file file-group__input" type="file" id="product-image-3" accept="image/png, image/jpeg"/>
        </div>
    </div>
</div>
{% endhighlight %}
    </div>
</div>

<div class="app-card app-card--edit">
    <div class="app-card__header">
        <h2 class="app-card__title">Has Image</h2>
    </div>
    <div class="app-card__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a cursus sapien. Integer ac velit at justo sagittis ornare. Donec convallis et diam at maximus.</p>
        <div class="file-group">
            <div class="file-group__preview" style="background-image: url('https://images.unsplash.com/photo-1688292667451-3a8945737a72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=691&q=80');">
                {% svgIcon './src/img/icon/image.svg', 'file-group__icon' %}
            </div>
            <div class="file-group__body">
                <p class="file-group__title">Upload a product image</p>
                <ul class="file-group__meta">
                    <li>Accepted formats: JPG, PNG</li>
                    <li>Maximum upload limit: 5 MB</li>
                </ul>
                <div class="file-group__action">
                    <button class="btn btn--delete btn--icon file-group__remove">
                        {% svgIcon './src/img/icon/close.svg', 'btn__icon' %}
                    </button>
                    <input class="form-file form-file file-group__input" type="file" id="product-image-3" accept="image/png, image/jpeg"/>
                </div>
            </div>
        </div>
{% highlight "html" %}
<div class="file-group">
    <div class="file-group__preview" style="background-image: url('https://images.unsplash.com/photo-1688292667451-3a8945737a72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=691&q=80');">
        <svg class="file-group__icon">...</svg>
    </div>
    <div class="file-group__body">
        <p class="file-group__title">Upload a product image</p>
        <ul class="file-group__meta">
            <li>Accepted formats: JPG, PNG</li>
            <li>Maximum upload limit: 5 MB</li>
        </ul>
        <div class="file-group__action">
            <button class="btn btn--delete btn--icon file-group__remove">
                <svg class="btn__icon">...</svg>
            </button>
            <input class="form-file form-file file-group__input" type="file" id="product-image-3" accept="image/png, image/jpeg"/>
        </div>
    </div>
</div>
{% endhighlight %}
    </div>
</div>
