@forward 'config';
@forward 'layout';
@forward 'component';
@forward 'section';
@forward 'extend';
@forward 'helper';

@use 'sprucecss/scss/spruce' as *;

:root {
  @include set-css-variable((
    --app-sidebar-inline-size: 20rem,
    --app-header-block-size: 4.5rem,
    --container-gap: spacer-clamp('m', 'l')
  ));
}
