<div class="app-widget app-widget--welcome">
    <div class="welcome-card">
        <span class="welcome-card__icon">
            {% svgIcon './src/img/icon/eye.svg' %}
        </span>
        <div class="welcome-card__body">
            <h2 class="welcome-card__title"><a href="#" class="welcome-card__link">Widget title</a></h2>
            <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
            labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
            animcupidatat excepteur officia.</p>
        </div>
    </div>
    <div class="welcome-card">
        <span class="welcome-card__icon">
            {% svgIcon './src/img/icon/users.svg' %}
        </span>
        <div class="welcome-card__body">
            <h2 class="welcome-card__title"><a href="#" class="welcome-card__link">Widget title</a></h2>
            <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
            labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
            animcupidatat excepteur officia.</p>
        </div>
    </div>
    <div class="welcome-card">
        <span class="welcome-card__icon">
            {% svgIcon './src/img/icon/filter.svg' %}
        </span>
        <div class="welcome-card__body">
            <h2 class="welcome-card__title"><a href="#" class="welcome-card__link">Widget title</a></h2>
            <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
            labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
            animcupidatat excepteur officia.</p>
        </div>
    </div>
    <div class="welcome-card">
        <span class="welcome-card__icon">
            {% svgIcon './src/img/icon/star.svg' %}
        </span>
        <div class="welcome-card__body">
            <h2 class="welcome-card__title"><a href="#" class="welcome-card__link">Widget title</a></h2>
            <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
            labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
            animcupidatat excepteur officia.</p>
        </div>
    </div>
</div>
